{{#extend "layouts/main"}}
    {{#content "body"}}
        <h1>About Build_Link</h1>
        <p>Welcome to Build_Link, the premier platform dedicated to bridging the gap between skilled construction professionals and leading job opportunities. Founded by Juan Grillo, Build_Link is more than just a job board; it's a community where expertise meets innovation.</p>
        <p>Here at Build_Link, we understand the unique challenges and demands of the construction industry. Our platform is designed to streamline the job search process, making it easier for professionals to find projects that resonate with their skills and for employers to discover the talent they need to succeed.</p>
    {{/content}}
{{/extend}}
