{{#extend "layouts/main"}}
    {{#content "body"}}
        <h1>Search Results</h1>
        <div class="search-results">
            <!-- Display search results dynamically -->
        </div>
    {{/content}}
{{/extend}}
